.containerOptions {
    display: inline-flex;
    gap: 8px;
    margin-bottom: 22px;
}
.btnGood {
    display: flex;
    align-items: center;
    gap: 10px;
    color: green;
}

.btnNeutral {
    display: flex;
    align-items: center;
    gap: 10px;    
    color: rgb(204, 116, 0);
}

.btnBad {
    display: flex;
    align-items: center;
    gap: 10px;    
    color: rgb(136, 5, 5);
}

.btnGood:hover {
    background-color: #1eff00;
}

.btnNeutral:hover {
    background-color: #e5ff00;
}

.btnBad:hover {
    background-color: #ff3c00;
}