:root {
  --primary-font: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
  
      --primary-black-color: #1b1b1b;
      --primary-grey-color: #5e5e61;
      --primary-white-color: #FFF;
      --primary-blue-color: #404bbf;
      --primary-light-grey-color: #ebebf1;
      --primary-prelight-grey-color: #c1c1c2;
  }
  
  a {
    text-decoration: none;
    color: var(--primary-black-color);
  }
  a:hover {
    color: var(--primary-blue-color);
  }
  
  body {
    font-family: var(--primary-font);
    color: var(--primary-black-color);
    background: var(--primary-grey-color);
    display: flex;
    justify-content: center;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  p {
    margin-top: 0;
    margin-bottom: 0;
  }
  
  ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
  }
  
  img {
    display: block;
    max-width: 100%;
    height: auto;
  }
  
  
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #d4d4d4;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #3fe6fc;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
  
  @media (prefers-color-scheme: light) {
    :root {
      color: #213547;
      background-color: var(--primary-white-color);
    }
    body {
      background: var(--primary-white-color);
    }
    a:hover {
      color: var(--primary-blue-color);
    }
    button {
      background-color: #b4b4b4;
    }
  }


